{% assign collectionFull = site[include.collection] | sort: 'fullIssueSequenceNumber' | where: 'type', 'Text'%}

{% if include.only and include.facet_by %}
  {% assign subset = collection | where: include.facet_by, include.only | sort: 'order' %}
{% endif %}

{% assign collection = collectionFull | where: 'publisher', 'The Unionist' %}

<div id='wax-gallery-{{ include.collection }}-container' class='wax-gallery-container full-width'>
  <div class='wax-inline-container'>
    <div id="{{ include.collection }}-facet-buttons" class="facet-buttons"></div>
    <div id="wax-gallery-{{ include.collection }}" class="wax-gallery"></div>
  </div>
</div>


<script type="text/javascript">
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const loadedIssue = urlParams.get('issue');


  $( document ).ready(function() {
    var container = $('#wax-gallery-{{ include.collection }}-container');
    var gallery = $('#wax-gallery-{{ include.collection }}');
    var buttonDiv = $('#{{ include.collection }}-facet-buttons');

    {% if subset %}
      {% for item in subset %}
        {%- capture item_html -%}
          "<div class='gallery-item thumb {{ item[include.facet_by] | slugify }} all'><a href='"/"+{{ item.pid }}+"/"'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}'/><div class='overlay'><p class='info'>{{ item.label | escape }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% else %}
      {% for item in collection %}
      var thumbnailUrl = "{{ item.thumbnail | absolute_url }}";
      if (thumbnailUrl == "{{ site.url}}"+"{{ site.baseurl }}" || thumbnailUrl == "") {
        {%- capture item_html_no_thumb -%}
          "<div class='gallery-item no-thumb {{ item[include.facet_by] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><div class ='gallery_excerpt'> <div class='excerpt_text'><h3>{{item.title | escape}}</h3> <p>{{item.description | escape}}</p></div></div><div class='overlay'><p class='info'>{{ item.title| escape }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html_no_thumb | strip_newlines }});
      }
      else {
        console.log("thumb");

        {%- capture item_html -%}
          "<div class='gallery-item thumb {{ item[include.facet_by] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.label | escape }}'/><div class='overlay'><p class='info'>{{ item.title | escape }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      }

      {% endfor %}
    {% endif %}

    {% if include.facet_by %}
      {% unless subset %}
        var facets = Array.from(new Set([{%- for item in collection -%}'{{ item[include.facet_by] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));
        buttonDiv.append("<button class='btn facet active' data-filter='all'>show all</button>");
        facets.sort(function(a, b){return a - b});
        filtered = facets.filter(elm => elm);
        console.log(filtered);
        for (i in filtered) {
          buttonDiv.append(`<button class='btn facet facet-${filtered[i]}' data-filter='${filtered[i]}'>${filtered[i]}</button>`);
        }

        $(document).ready(function(){
          $(".facet").click(function(){
            var filterValue = $(this).attr('data-filter');
            $('.facet').removeClass('active');
            $(this).addClass('active');
            if(filterValue == 'all') { $('.all').show('slow'); }
            else { $('.all').hide('slow'); $(`.${filterValue}`).show('slow'); }
            // Change URL when filter is selected
            var nextURL = '?issue='+ filterValue;
            var nextTitle = 'Unionist Issue '+ filterValue ;
            var nextState = { additionalInformation: 'Updated the URL with JS' };

            // This will create a new entry in the browser's history, without reloading
            window.history.pushState(nextState, nextTitle, nextURL);

          });

        if(loadedIssue > 0) {
          var filterValue = loadedIssue;
          var facetValue = '.facet-'+filterValue
          $('.facet').removeClass('active');
          $(facetValue).addClass('active');
          if(filterValue == 'all') { $('.all').show('slow'); }
          else { $('.all').hide('slow'); $(`.${filterValue}`).show('slow'); }
        }







        });
      {% endunless %}
    {% endif %}
  });
</script>
