
{% if page.transcription.size > 1 %}
<div id="osd" class="text-viewer">
  <div class="excerpt">
    <div class="excerpt-inner">
      <div class="excerpt-content">
    {{ page.transcription }}
      </div>
    </div>
  </div>
</div>

{% else %}
<div id="osd" class="image-viewer"></div>
<script defer src="{{ '/assets/openseadragon/openseadragon.min.js' | absolute_url }}"></script>
<script>
  $(document).ready(function () {
    var manifestUrl = "{{ include.manifest | absolute_url }}";
    console.log (manifestUrl);
    if (manifestUrl == "{{ site.url}}"+"{{ site.baseurl }}" || manifestUrl=="") {


    }

    else {

    $.getJSON(manifestUrl, function(data) {
      var width = data.sequences[0].canvases[0].images[0].resource.width
      var height = data.sequences[0].canvases[0].images[0].resource.height
      console.log(width);
      console.log(height);

      if (width < 500 || height < 500) {
        console.log ('too small!')
        var source = data.sequences[0].canvases[0].images[0].resource['@id']
        var div = $('<div>')
          .addClass('small-image-inner');
        var altText = '{{ include.alt | escape }}'
        var img = $('<img>')
          .attr('src', source)
          .attr('alt', altText);
        $(div).append(img);
        $('#osd').append(div);
        return;

      }


      var tileSources = [];
      $.each(data.sequences[0].canvases, function(_k, val) {
        tileSources.push({
          tileSource: val.images[0].resource.service['@id'] + '/info.json',
          referenceStripThumbnailUrl: val.thumbnail
        });
      });
      OpenSeadragon({
        id: "osd",
        preload: true,
        sequenceMode: true,
        prefixUrl: "{{ '/assets/openseadragon/images/' | absolute_url }}",
        tileSources: tileSources,
        showReferenceStrip: true,
      });
    });
  }//end else
  });
</script>
{% endif %}
