{% if include.image %}
  {% assign image = include.image %}
{% else %}
  {% assign item  = site[include.collection] | where: 'pid', include.pid | first %}
  {%- capture image -%}
      {{ site.url }}{{ site.baseurl }}/img/derivatives/iiif/images/{{ item.pid }}/full/1140,/0/default.jpg
  {%- endcapture -%}
{% endif %}

{%- capture style -%}
  background-image: url('{{ image }}');
  background-position: 0% {{ include.y | default: '15%' }};

  {% if include.height %}
  height: {{ include.height }} !important;
  {% endif %}
{%- endcapture -%}

<div class='wax-parallax full-width {% if page.banner %}top-banner{% else %}inline-parallax{% endif %}'>
  <div class='parallax-image' style="{{ style | strip }}"></div>
  {% if include.label %}
  {% if item.title %}
  <div class='parallax-caption'>
    <div class='wax-inline-container'>
      Above: <a href='{{ item.url | absolute_url }}'>{{ item.title }}</a>
    </div>
  </div>
  {% endif %}
  {% endif %}
</div>
