@import 'bootstrap';

/*

main body & containers

*/

html, body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: $body-font;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

a {
  color: $accent-light;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: $accent-dark;
}

p {
  color: $text-color;
  max-width: 100%;
  margin-bottom: $less-margin;
  letter-spacing: .02rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.00rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*

header & nav bar

*/

#wax-header {
  background-color: $bg-color;
  border-bottom: 1px solid $accent-dark;
  font-family: $heading-font;
  color: $text-color;
  z-index: 100000;
  padding: $margin;
  letter-spacing: 0.075rem;



  .navbar-brand {
    font-weight: 700;
    color: $accent-light;
    font-size: 2.5rem;
    white-space: normal;
    line-height: 2.5rem;


    .site-logo {
      width: 500px;
      max-width: 70vw;

  }
}
  .navbar-brand:hover {
    color: $accent-dark;
  }

  .navbar-toggler {
    background-color: $bg-color;
  }

  .navbar-nav {
    .nav-item {
      z-index: 1000000;
      font-family: "Copperplate", $heading-font;
    }
    img {
      height: 50px;
    }
    .nav-img {
      margin-right: 5px;
    }

    .nav-link {
      color: $accent-dark;
    }
    .nav-text {
      padding-top: 20px;
    }
    .nav-link:hover {
      color: $accent-light;
    }
    .nav-link:active {
      background-color: $bg-color;
    }
    .dropdown-menu {
      background-color: $neutral;
      border-color: $accent-dark;
      margin-top: -10px;
      .dropdown-item:focus {
        color: $accent-light;
      }
      .dropdown-item:hover {
        background-color:$bg-color;
      }
    }
  }
}

/* essays nav */


.section-nav-wrapper {
      padding: 0.25rem 1rem;
      margin-bottom: 20px;

.section-nav {
  background-color: $bg-color;
  border: 1px solid $accent-light;
  border-radius: 5px;

    h4 {
      width: 100%;
      background-color: $accent-light;
      color: $bg-color;
      padding: 10px;
    }

    .nav-pills {
      padding:10px;

      .nav-link.active  {
        background-color: $accent-light !important;
    }
    }

}
}


/*

content section

*/
#wax-main {
  background-color: $bg-color;
  width: 100vw;
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 5rem;

  h1, h2, h3, h4, h5, h5 {
    margin-bottom: $less-margin;
    margin-top: $more-margin;
    font-family: $heading-font;
    letter-spacing: 0.1rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.077rem;
  }

  h4 {
    font-size: 1.1rem;
    margin-top: 0px;
    letter-spacing: 0.04rem;
  }

  h5 {
    font-size: 1rem;
    letter-spacing: 0.15rem;
  }

  img {
    max-width: 100%;
  }

  .footnotes ol {
    padding-left: 0;
  }

  li {
    font-family: $body-font;
    color: $text-color;
    font-size: 1rem;
    line-height: 2rem;
    max-width: 100%;
  }

  #wax-content {
    min-height: 70vh;

    .exhibit-meta {
      margin-bottom: $more-margin;
      background-color:$accent-dark;
      color: $neutral;
      padding: 20px 1.5rem 10px 1.5rem;

      .exhibit-meta-inner {


      .exhibit-author {
        margin-top: $more-margin;
        margin-bottom: 1em;
        padding-bottom: 0;
      }
      .exhibit-title {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
      }
      .exhibit-date {
        margin: 0;
        padding: 0;
        font-weight: 400;
      }
    }
    }

    .inline-image-reference, .transcription-inline {
      background-color: $neutral;
      margin-top: $more-margin;
      margin-bottom: $more-margin;
      display: inline-block;
      padding: 1em;
      max-width: 90%;
      img {
        max-width: 100%;
        max-height: 80vh;
      }
      .image-caption {
        margin: 1em 0 1em 0;
        font-family: $heading-font;
      }
    }
  }
}

#wax-footer {
  width: 100vw;
  padding-bottom: 5rem;
  padding-top: 3rem;
  background-color: $neutral;
  col {
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 100%;
    justify-items: space-between;
    min-width: 250px;
  }
  .footer-title {
    font-weight: bold;
    padding-bottom: 0;
    margin: 0;
    font-size: 1rem;
    font-family: "Copperplate", $heading-font;
  }
  .title-big {
    font-size:1.5rem;
    line-height: 1.5rem;
  }
  .footer-description {
    margin: 0;
    font-size: .9em;
    line-height: .9rem;
    font-family: "Copperplate", $heading-font;
  }
  .footer-site-logo img {
    width:400px;
    max-width: 80vw;
  }
  .footer-copyright {
    margin: 1rem 0 $margin 0;
    font-size: .9em;
    line-height: 1.2;
  }
  .footer-links {
    font-family: $heading-font;
    margin: 0 0 $margin 0;
    font-size: .9em;
    line-height: 1.2;
  }
  .footer-aaacna {
    line-height: 1rem;
    margin: $margin 0 $margin 0;
  }

  .footer-logos {
    margin: $margin 0 0 0;
    a {
      text-decoration: none;
    }
    img {
      height: 40px;
      margin:0 10px 10px 0;
    }
  }
}

.about-logos {
  a {
    font-size: 2rem;
  }
  .logos {
    margin: $margin 0 0 0;
    a {
      text-decoration: none;
    }
    img {
      height: 80px;
      margin:0 20px 20px 0;
    }
  }

}


.wax-inline-container {
  @extend .container;

  margin: 0 auto;
  max-width: 90%;
  width: $max-width;
  overflow: flex-wrap;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: $more-margin;
}

.wax-parallax.inline-parallax {
  margin-top: $more-margin;
}

.wax-parallax.top-banner {

}

.wax-parallax {

  .parallax-image {
    background-color: $neutral;
    width: 100vw;
    height: $parallax-height;
    max-height: 55vh;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;

    @media (max-width: 600px) {
        background-attachment: initial;
    }

  }
  .parallax-caption {
    margin: 0 auto;
    width: 100vw;
    background-color: $neutral;
    padding: $less-margin 0;
    a {
      color: $accent-light;
      font-weight: 700;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $accent-dark;
    }
  }
}

/*

item pages (iiif + metadata)

*/
#wax-main .item-title {
  position: absolute;
  z-index: 999;
  height: 200px;
  padding: 20px;

  .title-inner {
    padding:20px;
    background-color:rgba(255,255,255,.9);
    border-radius: 20px;

      h3 {
        margin-top:0;
      }

  }


}

.item-parallax {
  position: relative;
  height:200px;
  margin-bottom:0;
  background-color: $accent-dark;

  .wax-parallax.inline-parallax {
      margin-top: 0;
  }


}

.pagination-nav {
    padding: 0.25rem 1rem;
    margin-bottom: 5px;
}

.item-view {
  width:           110%;
  display:         inline-flex;
  flex-wrap:       nowrap;
  justify-content: space-between;
  align-items:     center;
  margin-left:     -5%;

  .text-viewer {
    width:    100%;
    margin-bottom: 30px;

  }

  .image-viewer {
    position: relative;
    height:   $viewer-height;
    max-height: 80vh;
    background-color: $bg-color;
    width:    100%;
    border:   1px solid $neutral;
    margin:   $more-margin 0 $more-margin 0;


    a {
      color: inherit !important;
    }

    li {
      font-size: 1em !important;
    }

    .item-full-image {
      max-width: $max-width;
      max-height: 100%;
      height: $viewer-height;
    }
  }


  .pagination-link {
    width: 5%;
    text-align: center;
    a {
      font-family: $heading-font;
      font-weight: bold;
      font-size: 3em;
      color: $text-color !important;
      text-decoration: none !important;
      background-color: $bg-color;
      margin: 0;
      &:hover{
        color: $accent-dark !important;
      }
    }
}
  #prevlink {
    float:left;
  }
  .nextlink {
    float: right;
    @media ( max-width: 400px ) {
      float: none;
      display: block;
      text-align: right;
    }

  }
}

.metadata-block {
  font-family: $body-font;
  max-width: 100%;
  border: $neutral 1px solid;
  border-radius: 3px;
  padding: $less-margin;

  :nth-child(n+7) {
    display:none;
  }

}

metadata-full::before, metadata-after::before {
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-left: solid 10px $accent-dark;
  height: 0;
  width: 0;
  content: '';
  display: inline-block;
  margin-right:5px;
  position:relative;
  top:5px;

}

.metadata-hide {
  display: none;
}

.related-images {

  .full-width {
    background-color: $accent-light;
    padding: 10px;

    .inline-image-header {
      width: 1000px;
      max-width: 90%;
      margin: auto;
      background-color: transparent;
      padding: 0px;
      font-family: Copperplate,"Lucida Bright",Georgia,serif;

      p {
        margin-bottom: 0;
        color:#ffffff;
      }

    }
  }
.image-caption {
  font-size: 1rem;
}
}




/*

search box

*/


.search-block{
  margin: $more-margin 0 $more-margin 0;
  #search{
    border-style: groove;
    border-width: 2px;
    margin-bottom: $more-margin;
    &:focus {
        box-shadow: none ;
        border-color: $neutral;
    }
  }
  #results {
    margin: 0;
    .result {
      padding: 1em;
      a {
        color: $text-color;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        img {
          float: left;
          width: 50px;
        }
        p {
          margin: 0 !important;
          padding: 0;
          .title{
            color: $accent-light;
          }
        }
      }
      &:hover {
        background-color: $neutral
      }
    }
  }
}



#wax-main .wax-gallery-container {
  .facet-buttons {
    .facet {
      @extend .btn-outline-secondary;
      margin-right: .5em;
      margin-top: 1rem;
      font-family: $heading-font;
      border-color: $text-color;
    }
    .active{
      @extend .facet;
      background-color: $accent-dark !important;
      color: $bg-color;
    }
    :hover {
      background-color: $accent-dark !important;
    }
  }
  .show-full {
    display: none;
  }
  .partial-issue {
    display:none;
  }


  .wax-gallery {
    margin: $margin auto;
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .thumb {
      max-width: $thumbnail-width;
      margin: .25rem;
    }

    .no-thumb {
      width:100%;
      margin: .5rem;
    }
    .gallery-category h4 {
      width: 100%;
      background-color: $accent-light;
      padding: 12px 25px;
      margin: 0.5rem;
      color: white;
      border-radius: 25px;
      border: 5px solid $feature2;
      border-width: 5px 1px;
    }

    .gallery-category-head {
      width:100%;
    }

    .gallery-item {
      padding: 0;

      background-color: #ffffff;

      border: 0px grey solid;
      border-radius: 5px;
      overflow:hidden;

      .gallery-thumb {
        object-position: 50% 20%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
        padding:0;

        &:hover {
          .overlay {
            opacity: .9;
            cursor: pointer;
            .info {
              opacity: 1;
              filter: alpha(opacity=100);
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              // display: none;
            }
          }
        }
        .gallery_excerpt {
          font-size:1rem;
          width: 100%;
          height: auto;
          padding:10px 20px;
          border: 2px  $accent-dark solid;
          border-radius: 5px;
          background-color: $neutral;
          text-align: left;
          height: 100%;
          overflow: hidden;
          margin-left:0;

        img.text-thumb {   max-height: 150px;
                          float: left;
                          margin: 10px;
                          max-width: 250px;
                          object-fit: cover;
                        }


        div.excerpt_text {
          //margin-left: 300px;

          h3 {
            font-size: 1.25em;
            font-weight: 500;
            color: #000;
            margin-top:10px;
            display: inline-block;
            padding: 10px;
            background-color: $bg-color;
            max-width: 80%;
            border-radius: 10px;
          }

          p.excerpt_text {
              line-height: 1.5rem;
              overflow: hidden;
              height: 100%;
            }
          }
        }

        .info {
          text-decoration: none;
          font-family: $heading-font !important;
          color: $bg-color !important;
          background-color: transparent;
          opacity: 0;
          filter: alpha(opacity=0);
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          font-weight: normal;
          font-size: 1.25rem;
          line-height: 1.25rem;
          overflow: hidden;
          display: table-cell;
          padding: .4rem;
          vertical-align: center;

        }

        // .info {
        //   text-decoration: none;
        //   font-family: $heading-font !important;
        //   color: $bg-color !important;
        //   background-color: transparent;
        //   opacity: 0;
        //   filter: alpha(opacity=0);
        //   -webkit-transform: scale(0);
        //   -ms-transform: scale(0);
        //   transform: scale(0);
        //   font-weight: normal;
        //   overflow: hidden;
        //   display: table-cell;
        //   vertical-align: middle;
        //   padding: 0 $margin 0 $margin;
        // }

        .overlay {
          width: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          background-color: $accent-light;
          opacity: 0;
          -webkit-transition:opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
          display: table;
          height: 100%;
          border-radius: 5px;
          padding: 10px;
        }
      }
    }
    .thumb {
      height: $thumbnail-height;
      width: $thumbnail-width;
      display: inline-block;
    }

    .gallery-category {
      width:100%;
    }
  .gallery-featured {
      .excerpt_text::before {
        content:'Featured';
        display:block;
      }

      .excerpt_text::after {
      background-image: url(/unionist/img/icons/star-filled.png);
      background-size: 80px 80px;
      position: absolute;
      top: 5px;
      right: 5px;
      content: '';
      height: 80px;
      width: 80px;
      }

  }
  }
}

.grid {
    margin: $margin auto;
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;


    .grid-item {



      &:has(.short) {
        width: 300px;
        border: 2px  $accent-dark solid;
        border-radius: 30px;
        margin: .5rem;
        padding: 0;
        background-color: $neutral;

        @media (max-width:600px) {
          width: 100%;
        }

      }

      &:has(.medium) {
        width: 450px;
        border: 2px  $accent-dark solid;
        border-radius: 30px;
        margin: .5rem;
        padding: 0;
        background-color: $neutral;

        @media (max-width:600px) {
          width: 100%
        }
      }

      &:has(.long) {
        width: 600px;
        border: 2px  $accent-dark solid;
        border-radius: 30px;
        margin: .5rem;
        padding: 0;
        background-color: $neutral;
        width: 100%;
        @media (max-width:600px) {
          width: 100%;
        }
      }



    .gallery-item {



      .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: left;
        cursor: default;
        padding: 0;

        &:hover {
          .overlay {
            opacity: .9;
            cursor: pointer;
            .info {
              opacity: 1;
              filter: alpha(opacity=100);
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              // display: none;
            }
          }
        }
        .gallery_excerpt {
          width: 100%;
          height: auto;
          padding:20px 20px 10px 20px;


          p.excerpt_text {
            letter-spacing: .05rem;
            font-size: 1.1rem;
            line-height: 1.5rem;
          }
        }


        .info {
          text-decoration: none;
          font-family: $heading-font !important;
          color: $bg-color !important;
          background-color: transparent;
          opacity: 0;
          filter: alpha(opacity=0);
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.25rem;
          overflow: hidden;
          display: table-cell;
          padding: .4rem;
          vertical-align: center;
        }

        // .info {
        //   text-decoration: none;
        //   font-family: $heading-font !important;
        //   color: $bg-color !important;
        //   background-color: transparent;
        //   opacity: 0;
        //   filter: alpha(opacity=0);
        //   -webkit-transform: scale(0);
        //   -ms-transform: scale(0);
        //   transform: scale(0);
        //   font-weight: normal;
        //   overflow: hidden;
        //   display: table-cell;
        //   vertical-align: middle;
        //   padding: 0 $margin 0 $margin;
        // }

        .overlay {
          width: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          background-color: $accent-light;
          opacity: 0;
          -webkit-transition:opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
          display: table;
          height: 100%;
          border-radius: 25px;
          padding: 20px 20px 0 20px;
          text-align: center;

        }
      }
}
}
}

.dataTables_wrapper {
  width: 100% !important;
  margin: $super-margin 0 $super-margin 0;
}

.sq-thumb-sm{
  object-fit: cover;
  object-position: 50% 20%;
  width: 80px;
  height: 80px;
}
//after here are NS additions
.header-title {
  font-family: "Copperplate", $heading-font;
}
.header-description{
  font-size: 1rem;
  font-weight: normal;
  line-height: 1rem;
  font-family: "Copperplate", $heading-font;
}


#wax-main h3.item-label {
  margin-bottom: 0px;
}
.item-creator {
  margin:0px;
}
.item-citation {
  margin:0px;
}

.item-location {
  margin:0px;
}


.excerpt {
  width: 100%;
  padding:40px 60px;
  border: 5px  $accent-dark solid;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 1.25rem;
  //scrollbar styling

  /* width */
  ::-webkit-scrollbar {
  width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
  //background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #425D80;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #555;
  }

}

.excerpt-inner {
  overflow-y:scroll;
  max-height: 400px;

  .excerpt-content {
    padding-right: 20px;
  }

}

.gallery_excerpt {
  width:$thumbnail-width;
  height: $thumbnail-height;
}




#wax-main  .feature-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $super-margin;


  .card-link {
    width: 300px;
    flex: auto;
    margin:0 20px;


    &:hover {
     .feature-card .card-header{

            border-bottom: 1px solid rgba($accent-light, 1);
            background-color: rgba($accent-dark, .3);
          }
        }

  .feature-card {
    width: 100%;
    border: 2px solid rgba($accent-dark,0.5);
    border-radius:20px;
    background-color: $neutral;
    margin: 10px;

    .card-header {
      transition: 1s;
      color: $text-color;
      border-bottom: 1px solid rgba($accent-dark, 0.35);
      background-color: rgba($accent-dark, 0.1);
      margin-bottom: .5rem;
      margin-top:1.25rem;

    }

    .card-text {
      padding: 0.75rem 1.25rem;
      position: relative;

    }
  }

  }
}

.timeline-embed {
  background-color: $neutral;
  padding: 1rem;

  .timeline-inner {
    width: 90%;
    margin: auto;
  }
}

.exhibit-after {
  margin-top: 60px;
}

//sections of unionist item pages

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0.25rem 1rem;
    margin-top: 5px;
}

#nextlink {
  float:right;
}

.item-category {
    font-family:Copperplate, $heading-font;




    div {
      background-color: $feature2;
      padding:10px;

    .category-inner {
        width: 1000px;
        max-width: 90%;
        margin:auto;
        background-color: transparent;
        padding: 0px;
      }
    p {
      display: inline;
    }
    }
    .Unionist {
      background-color: $feature5;
    }
    .Positive {
      background-color: $feature3;
    }
    .Negative {
      background-color: $feature4;
    }
    .full {
      background-color: $feature1;
      p {
        color: #ffffff;

      }
    }
    div.item-featured {
      background-color: transparent;
      float:right;
      padding:0px;
      position: relative;
      top: -3px;
        @media ( max-width:600px ) {
          float:none;
          clear:both;
          top:0;
        }
      img {
        height:40px;
        position: relative;
        top: -2px;

    }
    }


}
