---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/logo-sjsu.png' | absolute_url }}");

/* text */

$body-font:       'Verdana', 'Open Sans', 'sans-serif';
$heading-font:    'Verdana', 'Open Sans', 'sans-serif';


/* Image Size */

$thumbnail-height: 220px;
$thumbnail-width: 220px;
$excerpt-width: 440px;

/* colors */

$text-color:      #140012;
$bg-color:        #ffffff;
$neutral:         #FFFBEB;
$accent-light:    #CC0003;
$accent-dark:     #46290B;

/* viewport sizes */

$max-width:       1000px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
@import 'wax';
