---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/logo-sjsu.png' | absolute_url }}");

/* text */

$body-font:       'Baskerville', 'Times New Roman', Times, serif;
$heading-font:    'Lucida Bright', Georgia, serif;


/* Image Size */

$thumbnail-height: 220px;
$thumbnail-width: 220px;
$excerpt-width: 300px;

/* colors */

$text-color:      #000000;
$bg-color:        #FCF5E6;
$neutral:         #F5E5C6;
$accent-light:    #69593C;
$accent-dark:     #425D80;

/* viewport sizes */

$max-width:       1000px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
@import 'wax';
