---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/logo-sjsu.png' | absolute_url }}");

/* text */

$body-font:       'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font:    'Nunito Sans',Verdana,sans-serif;


/* Image Size */

$thumbnail-height: 220px;
$thumbnail-width: 220px;
$excerpt-width: 300px;

/* colors */

$text-color:      #333333;
$bg-color:        #ffffff;
$neutral:         #EEEEEE;
$accent-light:    #E5A823;
$accent-dark:     #0055A2;

/* viewport sizes */

$max-width:       1000px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
@import 'wax';
