---
layout: default
---

<div class='exhibit-meta full-width'>
<div class='exhibit-meta-inner wax-inline-container'>
  <h1 class='exhibit-title'>{{ page.title }}</h1>
  <h4 class='exhibit-subtitle'>{{ page.subtitle }}</h4>
</div>
</div>

{{ content }}

<div class='exhibit-after'>
<hr/>
<p class='exhibit-info-after'>
<span class='exhibit-author'>Created by {{ page.author }}</span>
<br/>
<span class='exhibit-date' >Published on
  <time datetime='{{ page.publish_date | date_to_xmlschema }}'>
  {{ page.publish_date | date: "%A, %B %d, %Y" }}
  </time>
</span>
</p>
</div>
