---
layout: default
---


<div class="item-title">
  <div class="title-inner">
    <h3 alt="{{ page.label | escape }}" class='item-label'>{{ page.title }}</h3>
    <p class='item-creator'> {{ page.creator }} </p>

{% if page.type == 'Text' %}
    <p class='item-citation'> {{ page.bibliographicCitation }} </p>
{% endif %}

  </div>
</div>

<div class="item-parallax full-width">
{% assign related = page.relatedImage | strip %}
  {% if related != '' %}
   {% if page.relatedImage contains ';' %}
     {% assign firstImage = page.relatedImage | split: '; ' | first %}
        {% include parallax_image.html collection='items' pid=firstImage height='200px' %}
  {% else %}
       {% include parallax_image.html collection='items' pid=page.relatedImage height='200px' %}
     {% endif %}

{% elsif page.type == 'image' or page.type == 'Image' %}
  {% include parallax_image.html collection='items' pid=page.pid height='200px' %}

  {% endif %}
 </div>

<div class="breadcrumb">
{% if page.issue %}
  {% capture bc %}
   Issue {{ page.issue }}
     {% endcapture %}
  {% capture bcLink  %}
    /unionist/explore/issues/?issue={{ page.issue }}
  {% endcapture %}
{% else %}
  {% assign bc = page.category %}
  {% capture bcLink  %}
    /unionist/explore/categories/?category={{ page.category | slugify}}
  {% endcapture %}

  {% endif %}



<a href="/unionist/">Home</a>
<div class='caret'> > </div>
<a href="/unionist/collection/">Items</a>
<div class='caret'> > </div>
<a href="{{ bcLink }}">{{ bc }}</a>
<div class='caret'> > </div>
{{ page.title }}
</div>

<div class='pagination-nav'>
<span class='pagination-link' id='prevlink'></span>
<span class='pagination-link' id='nextlink'></span>
{% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}
</div>


{% assign category = page.category | strip %}
<div class='full-width'>
  <div class='item-category'>
    <div class='{{ category }}'>
      <div class='category-inner'>
      <p>{{ category }}</p>
      {% if page.featured %}
      <div class='item-featured'>
        <p>Featured Item</p>
        <img alt='star' src='/unionist/img/icons/star-filled-white.png'>
      </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>



{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}

{% if viewer %}
  {% if page.transcription.size > 1 %}
  <h3>Transcription</h3>
  {% endif %}
  <div class='item-view'>
    {% if viewer == 'openseadragon' %}
      {% include osd_iiif_image_viewer.html manifest=page.manifest alt=page.title prevlink=prevlink nextlink=nextlink %}
    {% else %}
       {% include simple_image_viewer.html full_image=page.full prevlink=prevlink nextlink=nextlink %}
    {% endif %}
  </div>

{% endif %}

  <div class='item-content'>
    {% assign comment = page.commentary | strip %}
    {% if comment != '' %}
     <h3>About this Item</h3>
       <p>{{ page.commentary }}</p>
    {% endif %}
  </div>


{% comment %}
  The block below controls the item metadata table
{% endcomment %}
<h3>Item Details</h3>
<a href='#' class='metadata-full'>See Full Metadata</a>
<a href='#' class='metadata-hide'>Hide Full Metadata</a>
{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size %}
  {% include item_metadata.html meta=metadata %}
{% endif %}


<div class='related-images'>

      {% if related != '' %}
       {% if page.relatedImage contains ';' %}
         {% assign images = page.relatedImage | split: '; ' %}
         {% for image in images %}
             {% include inline_image.html collection='items' pid=image titleHeader='true' %}
         {% endfor %}
      {% else %}
         {% include inline_image.html collection='items' pid=page.relatedImage titleHeader='true' %}
         {% endif %}
     {% endif %}
</div>
<script type='text/javascript'>
  $('.metadata-full').click(function(){
     event.preventDefault();
    $('.metadata-block').children().show('slow');
    $(this).hide('slow');
    $('.metadata-hide').show('slow');
  })
  $('.metadata-hide').click(function(){
     event.preventDefault();
    $('.metadata-block :nth-child(n+7)').hide('slow');
    $(this).hide('slow');
    $('.metadata-full').show('slow');
  })

  // add links to metadata section
    const options = {
  /* … */
};
$('.metadata-block').linkify(options);
$('.item-content').linkify(options); 


</script>
