---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Identifier'
    value: page.pid
  - label: 'Title'
    value: page.title
  - label: 'Bibliographic Citation'
    value: page.bibliographicCitation
  - label: 'Bibliographic Citation Republished'
    value: page.bibliographicCitation.republished
  - label: 'Full Issue Sequence Number'
    value: page.fullIssueSequenceNumber
  - label: 'Creator'
    value: page.creator
  - label: 'Type'
    value: page.type
  - label: 'Date'
    value: page._date.created
  - label: 'Description'
    value: page.description
  - label: 'Language'
    value: page.language
  - label: 'Publisher'
    value: page.publisher
  - label: 'Is Part of'
    value: page.IsPartOf
  - label: 'Rights'
    value: page.rights
  - label: 'Subject'
    value: page.subject
  - label: 'Source'
    value: page.source
  - label: 'Original Item'
    value: page.url
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
  - label: 'Category'
    value: page.category
  - label: 'Article Type'
    value: page.article.type
  - label: 'Volume'
    value: page.Volume
  - label: 'Issue'
    value: page.issue
  - label: 'Transcription'
    value: page.transcription
  - label: 'Scholarly Notes'
    value: page.scholarlyNotes
  - label: 'Commentary'
    value: page.commentary
  - label: 'Related People'
    value: page.relatedPeople
  - label: 'Featured'
    value: page.featured
  - label: 'Repeated'
    value: page.repeated
  - label: 'Related image'
    value: page.relatedImage
  - label: 'Related Transcription'
    value: page.relatedText
  - label: 'Location of Related Text in Issue'
    value: page.relatedTextIssue
  - label: 'Caption'
    value: page.caption
  - label: 'Filename'
    value: page.filename

---
