---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Identifier'
    value: page.identifier
  - label: 'Title'
    value: page.title
  - label: 'Bibliographic Citation'
    value: page.bibliographicCitation
  - label: 'Bibliographic Citation Republished'
    value: page.bibliographicCitation.republished
  - label: 'Full Issue Sequence Number'
    value: page.fullIssueSequenceNumber
  - label: 'Creator'
    value: page.creator
  - label: 'Type'
    value: page.type
  - label: 'Date'
    value: page._date.created
  - label: 'Description'
    value: page.description
  - label: 'Language'
    value: page.language
  - label: 'Publisher'
    value: page.publisher
  - label: 'Is Part of'
    value: page.IsPartOf
  - label: 'Righs'
    value: page.rights
  - label: 'Subject'
    value: page.subject
  - label: 'Source'
    value: page.source
  - label: 'Original Item'
    value: page.url
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
  - label: 'Category'
    value: page.Category
  - label: 'Article Type'
    value: page.article.type
  - label: 'Volume'
    value: page.Volume
  - label: 'Issue'
    value: page.issue
  - label: 'Transcription'
    value: page.transcription
---
