---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Title'
    value: page.title
  - label: 'Creator'
    value: page.creator
  - label: 'Type'
    value: page.type
  - label: 'Date'
    value: page._date
  - label: 'Contributor'
    value: page.contributor
  - label: 'Coverage'
    value: page.coverage
  - label: 'Description'
    value: page.description
  - label: 'Format'
    value: page.format
  - label: 'Identifier'
    value: page.identifier
  - label: 'Language'
    value: page.language
  - label: 'Publisher'
    value: page.publisher
  - label: 'Relation'
    value: page.relation
  - label: 'Righs'
    value: page.rights
  - label: 'Subject'
    value: page.subject
  - label: 'Source'
    value: page.source
  - label: 'Original Item'
    value: page.url
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
